<h1>About Me</h1>
<p> Brilliant interwebist who creates awesome stuff</p>
<p> And of course there are kittens...</p>
<img src="C:/Sites/projects/railsgirls/app/assets/images/pounce.jpg" alt="kitten ready to pounce">
